// .item-images{
//   width: 900px;
//   // .item-slider{
//   //   display: flex;
//   //   overflow-x: hidden;
//   //   height: 570px;
//   //   width: 100%;
//   //   img{
//   //     margin-right: 10px;
//   //   }
//   // }
//   .arrow{
//     float: right;
//     height: 60px;
//     width: 60px;
//     img{
//       transform: rotate(90deg);
//     }
//   }
// }
// @media (min-width:1280px) and (max-width:1439px){
//   .item-images{
//     width: 750px;
//   }
// }
// @media screen and (max-width:1279px){
//   .item-images{
//     width: 100%;
//     .item-slider{
//       height: 400px;
//       width: 100%;
//     }
//   }
// }




.carousel-initialized {
  width: 900px;
  position: relative;
}

.carousel-next::before {
  width: 60px;
  background-image: url('../../images/arrow-button.svg') !important;
  transform: rotate(90deg);
}



.carousel-arrow {
  width: 60px;
  height: 60px;
}
.carousel-prev{
  display: none;
}
.carousel-next{
  position: absolute;
  -webkit-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
  width: 60px;
  height: 60px;
  bottom: -20px;
  top:auto;
  left: auto;
  right: 0;
}

.carousel-next:hover, .carousel-prev:hover {
  opacity: 0.5;
}


.carousel-track {
  height: 570px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.carousel-track .carousel-item {
  // width: 460px !important;
  // height: 460px !important;
  height: 570px !important;
  width: 440px !important;
}




@media screen and (max-width: 1170px) {

  .carousel-initialized {
    width: 100vw;
    -webkit-transform: translateX(-5vw);
        -ms-transform: translateX(-5vw);
            transform: translateX(-5vw);
  }
  .carousel-track {
    height: 450px !important;
    width: 100%;
  }
  .carousel-track .carousel-item {
    width: 95% !important;
    margin: 0 2.5%;
  }
  .carousel-track .carousel-item .client__item {
    padding: 45px 10% 40px;
    margin: 15px;
    width: 75%;
    height: 240px;
  }
  .carousel-track .carousel-item[data-carouselkey="0"] {
    width: 95% !important;
  }
}
